h1{
    font-size: 16px; 
    border-style: solid;
    border-width: 1px;
    float: top;
    position: relative;
    left: 2%;
}
h2{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
header p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
main {
    font-size: 11px;
    font-style: normal;
    line-height: 95%;    font-family: 'Times New Roman', Times, serif;
    column-count: 3;
}
h4{
    font-size: 14px;
}